body {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    color: #DCEFBA;
}

#titulo {
    border: 5px solid #176412;
    border-radius: 8px;
    background-color: #6E4404;
    opacity: 0.95;
    padding: 10px;
    margin: auto;
    width: 920px;
    text-align: center;
}

#navegacao {
    display: table;
    margin: 0 auto;
}
.navegacaoLista {
    display: inline-block;
    border: 5px solid #176412;
    border-radius: 8px;
    background-color: #6E4404;
    opacity: 0.95;
    padding: 10px;
    width: 80px;
    text-align: center;
}

#conteudo {
    border: 5px solid #176412;
    border-radius: 8px;
    background-color: #6E4404;
    opacity: 0.95;
    padding: 20px;
    margin: 0 auto;
    width: 900px;
    min-height: 800px;
}
.conteudoImgh1,
.conteudoImgh2,
.conteudoImghi1,
.conteudoImghi2,
.conteudoImgo {
    position: absolute;
    width: 350px;
    border: 1px solid black;
    border-radius: 8px;
    margin-bottom: 20px;
}
.conteudoImgo {
    top: 285px;
    right: 25%;
    border-radius: 50px;
    width: 220px;
}
.conteudoImgh1 {
    right: 52%;
}
.conteudoImgh2 {
    right: 22%;
}
.conteudoImghi1 {
    top: 800px;
    right: 52%;
}
.conteudoImghi2 {
    top: 800px;
    right: 22%;
}
.conteudoDesc {
    border: 1px solid black;
    border-radius: 8px;
    background-color: #6E4404;
    padding: 10px;
    width: 50%;
}