body {
    background-image: url(../img/background.png);
    background-repeat: repeat-y;
    color: #DCEFBA;
}

#titulo {
    border: 5px solid #176412;
    border-radius: 15px;
    background-color: #6E4404;
    opacity: 0.95;
    box-shadow: 5px 5px #00000055;
    padding: 10px;
    margin: auto;
    width: 1120px;
    text-align: center;
}

#navegacao {
    display: table;
    margin: 0 auto;
}
.navegacaoLista {
    display: inline-block;
    border: 5px solid #176412;
    border-radius: 15px;
    background-color: #6E4404;
    opacity: 0.95;
    box-shadow: 5px 5px #00000055;
    padding: 10px;
    width: 80px;
    text-align: center;
}
a:link,
a:visited {
    color: #DCEFBA;
    text-decoration: none;
}
a:hover,
a:active {
    color: #B3D07F;
    text-decoration: none;
}

#conteudo {
    border: 5px solid #176412;
    border-radius: 15px;
    background-color: #6E4404;
    opacity: 0.95;
    box-shadow: 5px 5px #00000055;
    padding: 20px;
    margin: 0 auto;
    width: 1120px;
    min-height: 800px;
}

.conteudoDesc {
    border: 1px solid black;
    border-radius: 8px;
    background-color: #6E4404;
    padding: 10px;
    margin-bottom: 50px;
}

.conteudoFuncLoja {
    border: 1px solid black;
    border-radius: 8px;
    background-color: #6E4404;
    padding: 10px;
    text-align: center;
}
#conteudoFuncEquipe {
    border: 1px solid black;
    border-radius: 8px;
    width: fit-content;
    padding: 10px;
    text-align: center;
    font-size: 1.25em;
    margin: auto;
    margin-bottom: 30px;
}
.conteudoFuncN {
    display: inline-block;
    border: 1px solid black;
    border-radius: 50px;
    margin-left: 40px;
    width: 220px;
}
.conteudoFuncI {
    border: 1px;
    border-radius: 50px;
    width: 220px;
}

#conteudoLoja {
    border: 1px solid black;
    border-radius: 8px;
    width: fit-content;
    padding: 10px;
    text-align: center;
    font-size: 1.25em;
    margin: auto;
    margin-bottom: 30px;
}
#conteudoImgH1,
#conteudoImgH2,
#conteudoImgHi1,
#conteudoImgHi2 {
    display: inline-block;
    vertical-align: top;
    border: 1px solid black;
    border-radius: 15px;
    width: 40%;
    margin: 10px;
}